@import '../../style/App.scss';

#portfolio {
  padding: 20px 0 40px 0;

  .project-btn-container div button {
    margin: 0;
    margin-right: 16px;
  }

  .portfolio__nav {
    ul {
      display: flex;
      li {
        padding: 5px 15px;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.3s ease;
      }
      li:hover {
        background-color: $main-color;
      }
    }
    .portfolio__nav-active {
      background-color: $main-color;
    }
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.mint__gallery {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
 
/* Style your items */
.mint__gallery > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  #portfolio {
    .portfolio__nav {
      ul {
        justify-content: center;
      }
    }
    .project-btn-container {
      flex-direction: column;
    }
    .project-btn-container .button {
      height: 52px;
    }
    .project-btn-container div {
      height: 52px;
      margin-bottom: 26px;
    }
    .project-btn-container div button {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  #portfolio {
    .portfolio__nav {
      ul {
        li {
          padding: 5px 5px;
          margin-right: 5px;
        }

      }
    }
  }
}
